// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body,
#root,
#root > div,
.home-page {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.home-page {
	min-width: 100%;
	min-height: 100%;
}

.landing-nav-bar {
	height: 10%;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	padding: 0 200px;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid rgb(248, 255, 251);
	box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 8%);
	position: sticky;
	top: 0;
	z-index: 100;
}

.landing-logo-container {
	max-width: 150px;
	min-width: 150px;
}

.landing-logo-container img {
	width: 100%;
	height: 100%;
}

.signin-signup {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

a {
	text-decoration: none;
}

#auth-divider {
	width: 10px;
}

.sign-up-button, .sign-in-button {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.sign-up-button {
	background-color: #273240;
	border-radius: 10px;
}

.sign-up-button:hover {
	transition: all 250ms ease;
	background-color: #476149;
}

.sign-up-button {
	color: white;
}

.sign-in-button a{
	color: #646f79;
}

.sign-in-button a:hover{
	transition: all 250ms ease;
	color: #3c97ff;	
}

.home-page-proper {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	max-height: 75%;
	min-width: 100%;
	min-height: 75%;
	z-index: 0;
	overflow: auto;
}

.home-text-container {
	display: flex;
	flex-direction: column;
	min-width: 50%;
	max-width: 50%;
	min-height: 100%;
	max-height: 100%;
	flex-shrink: 0;
	margin: auto 0;
}

.home-big-text {
	font-size: 3vw;
	padding-bottom: 8vh;
	padding-left: 1vw;
	margin-bottom: 7vh;
	margin-left: 7vw;
}

.home-page-line {
	padding-left: 1vw;
	padding-top: 3vh;
	margin-left: 7vw;
}

hr {
	width: 10vw;
	text-align: left;
	margin-left: 0;
}

.home-small-text {
	font-size: 1.25vw;
	padding-left: 1vw;
	padding-top: 5vh;
	margin-bottom: 6vh;
	margin-left: 7vw;
}

.home-small-text p {
	padding-top: 10px;
}

.text-sign-up-wrapper {
	width: 100%;
	margin-left: 7.5vw;
}

.text-sign-up-cont {
	width: 20%;
}

.text-sign-up-button {
	background-color: #273240;
	border-radius: 10px;
	padding: 10px;
	font-size: 1vw;
	text-align: center;
	cursor: pointer;
	color: white;
}

.text-sign-up-button:hover {
	transition: all 250ms ease;
	background-color: #476149;
}

.home-image {
	// max-width: 50%;
	min-width: 50%;
	max-width: 50%;
}

.home-image img { 
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.footer {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
  text-align: center;
	height: 15%;
	border-top: 1px solid rgb(248, 255, 251);
	box-shadow: 0px 0px #888, 0 5px 20px 0 rgba(21, 27, 38, 8%);
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer > div {
	width: 60px;
	height: 60px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.splash-external {
	font-size: 50px;
	color: #273240;
	padding: 5px;
	cursor: pointer;
	transition: all 500ms ease;
}

.splash-external:hover {
	transition: all 250ms ease;
	font-size: 60px;
	color: rgb(65, 139, 58);
}